<!DOCTYPE html>
<!-- htmlタグ以下全体をlayout という名前でフラグメント化 -->
<!-- 個別画面(body部)のtitleタグとbodyタグの内容をパラメータとして受け取る -->
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title,body)">

<head>
<meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<!-- <link rel="stylesheet" th:href="@{/resources/app/css/styles.css}" type="text/css"
    media="screen, projection">
<script type="text/javascript">

</script> -->

<!-- 個別画面のtitleタグの内容で置換 -->
<title th:replace="${title}">タイトル</title>
</head>

<body>
    <!-- th:replace属性を使用し、layout/headar.htmlのheaderフラグメントで置換 -->
    <div id="header" th:replace="~{layout/header :: header}"></div>

    <!-- 個別画面のbodyタグ内のコンテンツで置換 -->
    <div id="body" th:replace="${body}"></div>

    <!-- th:replace属性を使用し、layout/footer.htmlのfooterフラグメントで置換 -->
    <div id="footer" th:replace="~{layout/footer :: footer}"></div>
</body>

</html>