<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title,body)">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">

<!-- <link rel="stylesheet" th:href="@{/resources/app/css/styles.css}" type="text/css"
    media="screen, projection">
<script type="text/javascript">

</script> -->

<title th:replace="${title}">タイトル</title>
</head>

<body>
    <div id="header" th:replace="~{layout/header :: header}"></div>

    <div id="body" th:replace="${body}"></div>

    <div id="footer" th:replace="~{layout/footer :: footer}"></div>
</body>

</html>